/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.card-panel{
	font-family: 'Roboto';
	margin: 0% 5%;
	padding: 1% 1%;
	box-shadow: 1px 5px 5px #888888;
}
h1{
	font: bolder 36px Ubuntu;
	color: #006354;
}
.card-panel img{
	max-width: 8%;
}
ul{
	color: #008C7F;
	padding: 1.5% 3%;
	display: flex;
}
li{
	padding-left: 3%;
	white-space:nowrap;
}
.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.image-container{
	width: 80%;
}
.image-container img{
	object-fit: contain;
	width: 100%;
	height: 78vh;
	padding: 2% 0%;
}
.image-slider{
	width: 80%;
	height: 100px;
	object-fit: contain;
	overflow: hidden;
}
.thumbnail{
	display: flex;
	flex-wrap: nowrap;
	overflow: scroll;
	overflow-y: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thumbnail img{
	width: 90%;
	height: 100%;
	text-align: left;
	object-fit: cover;
	opacity: 0.9;
}
.thumb-image{
	flex: 1 0 auto;
	width: 15%;
	transition: 0.6s ease;
}
.container{
	width:80%;
	margin: 0 auto;
}
footer h2{
	text-align: center;
	padding: 10% 0%;
}
.header-wrapper{
	display: flex;
	justify-content: space-between;
}
header a{
	text-decoration: none;
	display: flex;
}
.thumbnail img:hover{
	opacity: 1;
}